/elpa/
/quelpa/
/eln-cache/
/tree-sitter/
*.elc

/autosave/
/auto-save-list/
/backups/
/tramp-autosave/
/transient/
/url/
/eshell/
/tutorial/
/projectile.cache
/projectile-bookmarks.eld
/projectile-frecency.eld
/network-security.data
recentf*
tramp
session*
custom.el
/.restart-state.el
/.restart-state.log
